<!DOCTYPE html>
<html>
  <head>

    <title>Media</title>
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <link href= "/css/bootstrap.min.css" rel = "stylesheet">
    <link href= "/css/styles.css" rel = "stylesheet">
  </head>
  <!-- Page Content -->
  <div class="container">

      <!-- Page Header -->
      <div class="row">
          <div class="col-lg-12">
              <h2>Project
                  Galery</h2>
              </h1>
          </div>
      </div>
      <!-- /.row -->

      <!-- Projects Row -->
      <div class="row">
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="/image/image1.jpg" alt="">
              </a>
              <p></p>
          </div>
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="/image/image2.jpg" alt="">
              </a>
              <p></p>
          </div>
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="/image/image3.jpg" alt="">
              </a>
              <p></p>

          </div>
      </div>
      <!-- /.row -->

      <!-- Projects Row -->
      <div class="row">
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="/image/image4.jpg" alt="">
              </a>

          </div>
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="/image/image5.jpg" alt="">
              </a>

          </div>
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="/image/image9.jpg" alt="">
              </a>
              <p></p>
          </div>
      </div>



      <div class="row">
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="/image/image7.jpg" alt="">
              </a>

          </div>
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="/image/image8.jpg" alt="">
              </a>

          </div>
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="/image/image6.jpg" alt="">
              </a>
              <p></p>
          </div>
      </div>

      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <p>Copyright &copy; Fotios Valsamopoulos 2015</p>
              </div>
          </div>
          <!-- /.row -->
      </footer>

  </div>
  <!-- /.container -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
